@model IEnumerable<ClassLibraryDB.Model.Attendance>

<h3>Attendance List</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ECNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftTimeBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckinDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPresent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ECNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DutyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftTimeBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckinDateTime)
            </td>
            @if (item.IsPresent == "N")
            {
                <td>
                    <b style="color:red">
                        @Html.DisplayFor(modelItem => item.IsPresent)
                </td>
            }
            else
            {
                <td>
                    <b style="color:blue">
                        @Html.DisplayFor(modelItem => item.IsPresent)
                </td>
            }
        </tr>
}
    </tbody>
</table>
